body {
  background-color: #f8f9fa;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #343a40;
}

.list-group-item {
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

footer {
  background-color: #f8f9fa;
  padding: 10px 0;
}

footer i {
  color: #6c757d;
  transition: color 0.3s ease;
}

footer i:hover {
  color: #007bff;
}